%p#notice= notice
%h1 Devices
%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    %tr
      %th= 'Code'
      %th= 'Device name'
      %th= 'OS'
      %th= 'Version'
      %th
      %th
      %th
    - @devices.each do |device|
      %tr
        %td= device.code
        %td= device.name
        %td= device.os_type
        %td= device.version
        %td= link_to 'Show', device
        %td= link_to 'Edit', edit_device_path(device)
        %td= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Device', new_device_path
